{% extends 'base.html' %}

{% block title %} Edit Item {% endblock %}

{% block content %}
<h2>Edit Item</h2>
<table border="1" style="margin-top: 20px; width: 60%; align-content: center;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.category.name }}</td>
            <td>
                <a href="{% url 'update_product' item.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'delete_item' item.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}